body{
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 25px;
}
.quadro{
	 
	width: 440px; 
	height:520px;
}
header{
	margin: 3px;
	height: 60px; 
	width: 440px;  
	background-color: red; 
}
nav{
	margin: 3px;
	height: 60px; 
	width: 440px;  
	background-color: orange;
}
section{
	margin: 3px;
	height: 300px;
	width: 250px;
	background-color: green;
}
article{
	margin: 10px; 
	width:230px; 
	height:60px; 
	position:relative; 
	top:40%; 
	background-color: #00FF7F;
}
aside{
	margin: 3px;
	position: absolute;
	top: 131px;
	left: 266px;
	height: 300px; 
	width: 182px;  
	background-color: blue;
}
footer{

	margin: 3px;
	height: 60px; 
	width: 440px;  
	background-color: gray; 
}
.p1{

	top: 4%;
	left: 37%;
}
.p2{
	
	top: 15%;
	left: 41%;
}
.p3{
	
	top: 78%;
	left: 41%;
}

.p5{
	position: absolute;
	top: 23%;
	left: 39%;
}
.p6{
	position: absolute;
	top: 23%;
	left: 39%;
}
.p7{
	position: absolute;
	top: 46%;
	left: 38%;
}